@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

/* CUSTOM SCROLLBAR ======================================== */

body::-webkit-scrollbar,
.aside::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
.aside::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

body::-webkit-scrollbar-thumb {
  background: #4d4d57;
  border-radius: 25px;
}

.aside::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e1e1e6;
}

h1 {
  @apply text-3xl;
}

.aside {
  @apply h-[620px] overflow-auto;
}

/* LOADING ANIMATION ==================================== */

.loading span {
  display: inline-block;
  width: 10px;
  margin-bottom: 20px;
  height: 10px;
  border-radius: 10px;
  background-color: #8257e5;
  margin: 4px;
  animation: dots 0.5s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
}

.loading span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading span:nth-child(2) {
  animation-delay: 0.15s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes dots {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 30px, 0);
  }
}

/* LESSON CARD BEFORE ===============================*/

.linkActive {
  position: relative;
}

.linkActive::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  @apply h-4 w-4 bg-green-500 z-50 left-[-8px] rotate-45;
}
